.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.profileAvatar{
    border-radius: 50%;
    width: 100px;
}

.profileName {
    display: inline;
    padding: 10px;
}