.upload {
    position: fixed;
	top: calc(50% + 30px);
	left: 50%;
	transform: translate(-50%, -50%);
    width: 560px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
	padding: 30px;
	background-color: var(--grey);
	display: none;
	align-items: center;
    border-radius: 10px;
    z-index: 2;
}

.uploadContent {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.uploadPreview {
	text-align: center;
	width: 100%;
}

.uploadProgress {
	width: calc(100%);
	background: var(--dark);
	margin: 10px 0;
}

.uploadCaption {
	margin: 10px 0;
	background-color: var(--dark);
	border-radius: 5px;
	padding: 10px;
	border: none;
}

.uploadButtons {
	display: flex;
}

input[type="file"] {
	display: none;
}

.customFileUpload {
	display: inline-block;
	cursor: pointer;
	width: fit-content;
	padding: 10px;
	background-color: var(--dark);
	border-radius: 5px;
	margin: 10px 0;
	font-size: 0.8em;
	flex: 1;
}

.fileName {
	flex: 1;
	margin: auto 0;
	font-size: 12px;
}

.trashBtn {
	background: var(--gradient);
	flex: 0;
	margin: auto 0;
	padding: 5px 8px;
	width: fit-content;
	border-radius: 50%;
	color: var(--white);
	cursor: pointer;
}

.customFileUpload i {
	font-size: 14px;
}

.postButton {
	flex: 1;
	cursor: pointer;
	margin: 10px 0;
	padding: 10px;
	background-color: var(--dark);
	border-radius: 5px;
	border: none;
	color: var(--purple);
}

.closeBtn{
    background: var(--gradient);
	margin: 10px ;
	padding: 5px 9px;
	width: fit-content;
	border-radius: 50%;
	color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.addPostBtn{
    background: var(--gradient);
	margin: 20px ;
	padding: 10px 12px;
	width: fit-content;
	border-radius: 50%;
	color: var(--white);
    cursor: pointer;
	position: sticky;
	float: right;
	margin-top: -60px;
    bottom: 20px;
    right: 0px;
}

@media screen and (max-width: 768px) {
	.upload {
        width: calc(100% - 40px);
        height: calc(100vh - 40px);
        top: calc(50%);
        max-height: unset;
        padding: 20px;
		min-width: 220px;
	}
}
